<div class="container">
  <div class="alert alert-info">
    <h1>How to get started</h1>

    <p>To start playing videos you need to:</p>

    <ul>
      <li>Setup the custom DJ command in your slack account.</li>
      <li>Add your first song via the Slack app.</li>
      <li>Visit the player to start watching.</li>
    </ul>

    <p>
      To add videos in Slack simply type:<br>
      <em>/dj find artist and song name</em><br>
      <em>/dj find michael jackson thriller</em>
    </p>

    <p>
      Learn more commands by typing:
      <em>/dj help</em>
    </p>
  </div>
</div>